* {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-border: 5px solid black;
}

#outer {
    width: 50%;
    position: absolute;
    height: 100px;
    overflow: hidden;
    font-size: 0;  /*  remove margin between elements */
    border-right: var(--main-bg-border);
}

#outer div {
    width: 25%;
    height: inherit;
    display: inline-block;
    border-left: var(--main-bg-border);
    border-top: var(--main-bg-border);
    border-bottom: var(--main-bg-border);
    box-sizing: border-box;
}

#outer div:first-child {
    background-color: ghostwhite;
}

#outer div:nth-child(2) {
    background-color: forestgreen;
}

#outer div:nth-child(3) {
    background-color: darkgoldenrod;
}

#outer div:last-child {
    background-color: steelblue;
}